<header>
  <h1><a href="{{ '/' | url }}">Luridarc</a></h1>
  <nav>
    <a href="{{ '/' | url }}">Home</a>
    <a href="{{ '/projects/' | url }}">Projects</a>
    <a href="{{ '/about/' | url }}">About</a>
  </nav>
</header>
