---
title: Home
layout: layout.njk
---
<h2>Experimental Software. Built to Explore.</h2>
<p>Luridarc is an independent development studio focused on unconventional software tools and speculative digital artifacts.</p>
<p>Each project is an exploration—fusing abstraction, utility, and conceptual design.</p>